#include <winresrc.h>
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

IDI_BUGREPORTICON ICON "CSBTE.ico"

#if !defined (AFX_RESOURCE_DLL) || defined (AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)

IDD_BUGREPORT DIALOGEX 0, 0, 235, 201
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "错误报告"
FONT 9, "宋体", 0, 0, 0x1
BEGIN
	ICON IDI_BUGREPORTICON, IDC_BUGREPORTICON, 7, 9, 20, 20
	CONTROL "发送错误报告(&S)", IDC_SENDMDMP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 48, 99, 8
	CONTROL "重启游戏(&R)", IDC_RESTARTGAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 60, 103, 8
	CONTROL "保存错误报告(&A)", IDC_DELETEMDMP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 72, 103, 8
	LTEXT "这个问题是如何出现的？", IDC_BUGENTRYSTATIC, 7, 92, 91, 8
	EDITTEXT IDC_BUGENTRY, 7, 104, 221, 71, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_WANTRETURN
	LTEXT "CSBTE 遇到未知错误，我们对此引起的不便表示抱歉。我们已经生成了一个关于此错误的报告，我们希望您发送此报告给我们以帮助改善游戏的稳定性。", IDC_BUGSTATIC, 38, 7, 190, 35
	LTEXT "接收邮箱: csbte_bugreport@qq.com", IDC_BUGRECEIVER, 7, 182, 190, 35, WS_DISABLED
	PUSHBUTTON "确定", IDC_OK, 174, 179, 54, 15
END

#endif

#if !defined (AFX_RESOURCE_DLL) || defined (AFX_TARG_CHT)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
#pragma code_page(936)

IDD_BUGREPORT DIALOGEX 0, 0, 235, 201
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "錯誤報告"
FONT 9, "宋體", 0, 0, 0x1
BEGIN
	ICON IDI_BUGREPORTICON, IDC_BUGREPORTICON, 7, 9, 20, 20
	CONTROL "發送錯誤報告(&S)", IDC_SENDMDMP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 48, 99, 8
	CONTROL "重啓遊戲(&R)", IDC_RESTARTGAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 60, 103, 8
	CONTROL "保存錯誤報告(&A)", IDC_DELETEMDMP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 72, 103, 8
	LTEXT "這個問題是如何出現的？", IDC_BUGENTRYSTATIC, 7, 92, 91, 8
	EDITTEXT IDC_BUGENTRY, 7, 104, 221, 71, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_WANTRETURN
	LTEXT "CSBTE 遇到未知錯誤，我們對此引起的不便表示抱歉。我們已經生成了壹個關于此錯誤的報告，我們希望您發送此報告給我們以幫助改善遊戲的穩定性。", IDC_BUGSTATIC, 38, 7, 190, 35
	LTEXT "接收郵箱: csbte_bugreport@qq.com", IDC_BUGRECEIVER, 7, 182, 190, 35, WS_DISABLED
	PUSHBUTTON "確定", IDC_OK, 174, 179, 54, 15
END

#endif

#if !defined (AFX_RESOURCE_DLL) || defined (AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_BUGREPORT DIALOGEX 0, 0, 235, 201
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bug Report"
FONT 9, "System", 0, 0, 0x1
BEGIN
	ICON IDI_BUGREPORTICON, IDC_BUGREPORTICON, 7, 9, 20, 20
	CONTROL "&Send Bug Report", IDC_SENDMDMP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 48, 99, 8
	CONTROL "&Restart Game", IDC_RESTARTGAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 60, 103, 8
	CONTROL "S&ave Bug Report", IDC_DELETEMDMP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 72, 103, 8
	LTEXT "The problem is how to appear?", IDC_BUGENTRYSTATIC, 7, 92, 91, 8
	EDITTEXT IDC_BUGENTRY, 7, 104, 221, 71, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_WANTRETURN
	LTEXT "CSBTE encountered an unknown error, we are sorry for this inconvenience. We've generated a report about this error, we would like you to send us this report to help improve the stability of the game.", IDC_BUGSTATIC, 38, 7, 190, 35
	LTEXT "Receive EMail: csbte_bugreport@qq.com", IDC_BUGRECEIVER, 7, 182, 190, 35, WS_DISABLED
	PUSHBUTTON "OK", IDC_OK, 174, 179, 54, 15
END

#endif

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE
BEGIN
	"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
	"#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
	"#include ""windows.h""\r\n"
	"#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
	"\0"
END

3 TEXTINCLUDE
BEGIN
	"\r\n"
	"\0"
END

#endif

#ifdef APSTUDIO_INVOKED

GUIDELINES DESIGNINFO
BEGIN
	IDD_ABOUTBOX, DIALOG
	BEGIN
		LEFTMARGIN, 7
		RIGHTMARGIN, 228
		TOPMARGIN, 7
		BOTTOMMARGIN, 194
	END
END

#endif